@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    this.ViewData["Title"] = "Home Page";
}

<h1>@HttpContextAccessor.HttpContext.Session.GetString("username")</h1>



